:root {
  --font-family-main: "Montserrat";
  --font-size-m: 20px;
  --font-line-m: 35px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-accent: 18px;
  --font-line-accent: 35px;
  --font-accent: var(--font-size-accent) / var(--font-line-accent) var(--font-family-main);
  --font-size-l: 25px;
  --font-line-l: 30px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-x: 44px;
  --font-line-x: 50px;
  --font-x: var(--font-size-x) / var(--font-line-x) var(--font-family-main);
  --font-size-xl: 52px;
  --font-line-xl: 70px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --font-size-ultra: 80px;
  --font-line-ultra: 56px;
  --font-ultra: var(--font-size-ultra) / var(--font-line-ultra) var(--font-family-main);

  /* Размеры */

  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 100px;

  /* Цвета */
  --red-light: #953838;
  --red-dark: #720000;
  --footer-bg: #89aabc;
  --accent-green: #01cd7d;
  // z-index
  --modal-index: 10;
}
