.root {
  --image-gap: 30px;

  margin: 100px 0;
}

.list {
  display: flex;
  gap: var(--image-gap);
  align-items: stretch;
}

.imgWrapper {
  width: calc(33.333% - var(--image-gap));
  height: 300px;
  position: relative;
}

.image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
}

@media (max-width: 1440px) {
  .imgWrapper {
    height: 263px;
  }
}

@media (max-width: 1279px) {
  .root {
    margin: 40px 0;
  }
}

@media (max-width: 719px) {
  .root {
    --image-gap: 15px;

    margin: 40px 0;
  }

  .imgWrapper {
    width: calc(50% - var(--image-gap));
    height: 110px;
  }
}
