.contentWrapper {
  padding-top: 54px;
  padding-bottom: 54px;
}

.banner {
  margin-bottom: 100px;
}

.title > p {
  color: var(--secondary-color);
  font: var(--font-xl);
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 720px) {
  .title > p {
    font-size: 30px;
    line-height: 35px;
  }
}