.ServiceItem {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0;
  background: none;
  box-shadow: none;
}

.imageWrapper,
.infoWrapper {
  flex: 1 1 auto;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title > p {
  font-weight: 600;
  color: var(--primary-color);
}

.text {
  flex: 1 1 100%;
  & > p {
    color: #000;
  }
}

.link {
  flex-shrink: 1;
  font: var(--font-accent);
  color: var(--accent-green);
  font-weight: 700;
}
