.root {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & p {
    font: var(--font-m);
    font-weight: 400;
    color: var(--black-primary);
  }
}

.list {
}

.listItem {
  display: flex;

  &::before {
    content: "•";
    margin-right: 10px;
    display: inline-block;
  }
}

.point {
  display: inline-block;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
