.OpenModal {

}

.title > p {
  font: var(--font-xl);
  color: var(--black-primary);
  font-weight: 600;
  margin-bottom: 20px;
}

.text {
  font: var(--font-m);
  color: var(--black-secondary);
  margin-bottom: 30px;
}
