.contentWrapper {
  padding-top: 110px;
  padding-bottom: 110px;
}

.title p,
.text p {
  color: #fff;
}

.title > p {
  font: var(--font-xl);
  font-weight: 600;
}

.text > p {
  font: var(--font-m);
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
}

.textWrapper {
  max-width: 50%;
}

.bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.sendBtn {
  position: relative;
  z-index: 99;
}
