.authForm {
  // border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.input {
  margin-top: 10px;
}

.placeholder {
  margin-bottom: 6px;
}

.inputField {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

.register {
  font: var(--font-accent);
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font: var(--font-accent);
}
