.authForm {
  border-radius: 20px;
  display: flex;
  padding: 59px 40px;
  flex-direction: column;
  width: 40vw;
  gap: 15px;
  background: var(--white-primary);
}

.resultWrapper {
  background: var(--white-primary);
  padding: 59px 40px;
  width: 45vw;
}

.btnOrder {
  display: inline-block;
}

.inp {
  margin-top: 10px;
}

.title > p {
  font: var(--font-m);
  font-weight: 600;
}

.placeholder {
  margin-bottom: 6px;
}

.inputField {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

.register {
  font: var(--font-accent);
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font: var(--font-accent);
}

@media (max-width: 720px) {
  .authForm {
    width: 80vw;
  }
}
