.Container {
  margin: 0px auto;
  padding: 0 40px;
}

@media (min-width: 320px) {

}

@media (min-width: 640px) {

}

@media (min-width: 1000px) {

}

@media (min-width: 1440px) {
  .Container {
    max-width: 1440px;
  }
}
