// Navbar styles
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links {
  display: flex;
  gap: 25px;
  flex-grow: 1;
}

.mainLink {
  margin-right: 25px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-grow: 1;

  &::before {
    background-color: inherit;
  }
}

.auth {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}

.callBtn {
  color: var(--inverted-bg-color);
  font-weight: 400;

  &:hover {
    transform: translate3d(0, 1px, 0);
  }

  margin-left: 15px;
}

.logoText > p {
  font-weight: 700;
}

.loginBtn {
  margin-left: 25px;
}
