// Navbar styles
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links {
  display: flex;
  gap: 25px;
  flex-grow: 1;
}

.mainLink {
  margin-right: 25px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-grow: 1;

  &::before {
    background-color: inherit;
  }
}

.auth {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}

.callBtn {
  color: var(--inverted-bg-color);
  font-weight: 400;

  &:hover {
    transform: translate3d(0, 1px, 0);
  }

  margin-left: 15px;
}

.logoText > p {
  font-weight: 700;
}

.loginBtn {
  margin-left: 25px;
}

.burgerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  top: 0;
  transition: all 0.45s linear;
}

@media (max-width: 1279px) {
  .burgerContent {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--bg-color);
    position: absolute;
    width: 100%;
    transform: translate3d(0, -200%, 0);
    right: 0;
    padding: 30px 15px;
    z-index: 11;

    &.active {
      top: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .loginBtn {
    margin-left: 0;
  }
}

.username > p {
  color: var(--black-primary);
}

@media (max-width: 720px) {
  .links {
    flex-direction: column;
    align-items: center;
  }

  .auth {
    flex-grow: 1;
    width: 100%;
    padding: 0 15px;
  }

  .loginBtn {
    flex-grow: 1;
  }
}
