.AboutCard {
  --gap: 30px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  //margin-top: 70px;
}

.form {
  flex-shrink: 1;
  width: calc(50% - var(--gap));
}

.num > p {
  color: var(--inverted-primary-color);
  font: var(--font-xl);
  font-weight: 600;
  margin-bottom: 20px;
}

.title > p {
  font-weight: 600;
  margin-bottom: 10px;;
  color: #000;
}

.subtitle > p {
  font: var(--font-accent);
  color: #000;
}

.sectionTitle > p{
  font: var(--font-x);
  font-weight: 600;
  margin: 70px 0 30px;
}
